.btnSign {
  width: 330px;
  height: 50px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

.btnSign:hover {
  background: #f9d1d1;
}

@media (max-width: 768px) {
  .btnSign {
    width: 220px;
  }
}