.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.slide {
  min-width: 100%;
}

.slide img {
  height: 100%;
}

@media (max-width: 1024px) {
  .slide {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .slide {
    height: 170px;
  }
}