.selectArea {
  position: relative;
  height: 37px;
}

.btnSelect {
  position: relative;
  width: 134px;
  height: 37px;
  font-size: 16px;
  padding: 0 16px;
  cursor: pointer;
  background: none;
  text-align: start;
  border: 1px solid #cacacb;
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  background: #202124;
}

.icon {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 15px;
}

.selectOption {
  position: absolute;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    width: 100px;
    height: auto;
    padding: 37px 16px 0;
    color: #fff;
    cursor: pointer;
    border: 1px solid #cacacb;
    border-radius: 20px;
    border-width: 0 1px 1px 1px;
    background: #202124;
}

.selectBox {
  width: 100%;
  height: 37px;
  line-height: 37px;
  text-align: start;
}

@media (max-width: 1024px) {
  .btnSelect {
    width: 94px;
  }

  .icon {
    right: 0;
  }

  .selectOption {
    width: 60px;
    height: auto;
  }

  .selectBox {
    font-size: 14px;
  }
}
