.hamburgerMenu {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menuItem {
  padding: 0 16px;
}

.menuLink {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 1024px) {
  .hamburgerMenu {
    display: block;
    padding-left: 8px;
  }

  .menu {
    display: none;
  }

  .btnMenu {
    font-size: 18px;
    color: #fff;
  }
}