.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
  height: 80px;
  padding: 0 16px;
  background: #202124;
  border-bottom: 1px solid #434040;
  z-index: 10;
}

.title {
  width: 220px;
  height: 60px;
}

.title > a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 10px;
}


@media (max-width: 1280px) {
  .header {
    height: 70px;
    padding: 0 20px;
  }

  .title {
    width: 160px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: flex-start;
    height: 60px;
    padding: 0 16px;
  }
  
  .title {
    width: 120px;
    margin-right: 10px;
  }

  .headerRight {
    margin-left: 4px;
  }
}